/* Global Styles */
body {
    display: inline;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Styles */
.nav-container {
    display: flex;
    background-image: linear-gradient(to right, #38b2ac, #fbbf24, #fa4fb38f);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 4rem;
    align-items: center;
    padding: 0 1rem;
}

.logo {
    margin: 0;
    font-weight: 700;
    font-size: 2.5rem;
    color: #ffffff;
    letter-spacing: 0.2rem;
    font-family: 'Dancing Script', cursive;
}

.search-form {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}

.search-input {
    position: relative;
}

input[type="search"] {
    background-color: #edf2f7;
    border: 1px solid #e2e8f0;
    color: #2d3748;
    font-size: 0.875rem;
    border: 2px solid #63b3ed;
    width: 10rem;
    padding: 0.25rem;
    margin-right: 0.5rem;
}

#searchBar:focus {
    background-color: #00000024;
}

.search-button {
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #4299e1;
    border: 2px solid #2b6cb0;
    border-radius: 0.875rem;
    cursor: pointer;

    &:hover {
        background-color: #2b6cb0;
    }
}

/* box-model */
main {
    display: flex;
}

section {
    display: flex;
    flex-wrap: wrap;

}

.box {
    background-color: #fff;
    height: 30em;
    width: 17em;
    margin: 1.6em;
    border: 1px solid #000000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.custom-box {
    position: relative;
    top: 2em;
    left: 3em;
    width: 11rem;
    height: 12rem;
    background-color: rgba(49, 240, 240, 0.795);
    border-radius: 1rem;
    border: 2px solid #000000;
}

.image-container {
    position: relative;
    top: 0.5em;
    left: 0.5em;
    width: 11rem;
    height: 12rem;
    background-color: #fdfdfd;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
}

.image-logo {
    position: relative;
    top: -2em;
    left: 9rem;
    height: 1.6rem;
}

.add-to-cart-button {
    position: relative;
    top: 3.2rem;
    left: 4.5rem;
    padding: 0.20rem 0.25rem;
    height: 2.2rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.05rem;
    border: 3px solid #000000;
    background-color: #41f5ec;
    color: #000000;
    cursor: pointer;
    transition: all 1s;

    &:hover {
        background-color: #2b6cb0;
    }
}

.food-name {
    border: 2px solid #000000;
    box-shadow: -4px -3px 4px 3px #00000024;
    font-weight: bold;
    color: #000000;
    position: relative;
    background-color: #fff;
    top: 4rem;
    left: 1.6em;
    height: 2rem;
    width: 14em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-name h2 {
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.para {
    font-weight: 600;
    color: #000000;
    margin-top: 4.2rem;
    text-align: left;
    padding: 0px 20px;
}

.para p {
    height: auto;
    width: 100%;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: #2d3748;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 5px;
}

h3 {
    position: relative;
    top: 3.2em;
    left: 1.8rem;
    font-weight: 500;
    font-size: 18px;

    span {
        color: orangered;
    }
}


@media only screen and (max-width: 600px) {
    section {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        background-color: #fff;
        height: 30em;
        width: 17em;
        margin: 3.2em;
        border: 1px solid #000000;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    }

    .logo {
        margin: 0;
        font-weight: 700;
        font-size: 1rem;
        color: #ffffff;
        letter-spacing: 0.2rem;
        font-family: 'Dancing Script', cursive;
    }
}



.loading .sceliton {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff38;
    height: 15em;
    width: 8em;
    margin: 0.3em 1.2em;
    border: 1px solid #000000;
    box-shadow: 10px 4px 6px rgba(0, 0, 0, 0.1);

}

.main-item-container {
    
    position: absolute;
    right: 0;
    top: 4em;
    z-index: 1;
    height: 35em;
    width: 15em;
    background-color: rgb(211, 208, 208);
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;

   .item-container{
    
    .item-box {
        background: #888484;
        height: 8em;
        width: 13em;
        margin: 1em 0.5em;
        border: 2px solid;
        border-radius: 10px;
        position: relative;

        .img-con {
            background-color: #fff;
            height: 4em;
            width: 5em;
            margin: 0.8em;
            border-radius: 5px;
            overflow: hidden;

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        h2 {
            font-size: 14px;
            position: absolute;
            top: 0.4em;
            left: 3.2em;
            width: 100%;
            text-align: center; /* Center the text */
        }

        .count {
            background-color: rgba(255, 255, 255, 0.925);
            height: 1.2em;
            width: 4.5em;
            margin: 0 1em;
            border-radius: 2px;

            span {
                font-size: 18px;
            }

            :nth-child(1) {
                margin-left: 0.4em;
            }

            :nth-child(2) {
                margin-left: 0.8em;
            }

            :nth-child(3) {
                margin-left: 0.8em;
            }

            h3 {
                position: relative;
                top: -4em;
                left: 5.5em;
                font-size: 16px;
                color: honeydew;
                font-family: Arial, Helvetica, sans-serif;
            }

            p {
                position: absolute;
                top: 5em;
                left: 10em;
                cursor: pointer;
            }
        }

        
        }
    }
}

    .total-box {
        position: absolute;
        inset:  auto 0;
        z-index: 2;
        height: 5.6em;
        width: auto;
        background-color: #ee0000;
        

        h2 {
            position: absolute;
            top: -0.8em; 
            left: 0.5em;
            font-size: 18px;
            letter-spacing: 2px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        h3 {
            position: absolute;
            top: -0.8em;
            left: 6.5em;
        }

        .go-to-payment {
            position: relative;
            top: 3em; 
            left: 2rem;
            padding: 0.2rem 0.2rem;
            height: 2.2rem;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 0.02rem;
            border: 3px solid #000000;
            background-color: #1de63e;
            color: #000000;
            cursor: pointer;

            &:hover {
                background-color: #0daf28;
                transition: all 2.3s;
            }
        }
    }


@media screen and (min-width: 1920px) {

    section {
        display: flex;
        flex-wrap: wrap;
    }


    .box {
        background-color: #fff;
        height: 30em;
        width: 17em;
        margin: 1.3em;
        border: 1px solid #000000;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    }


}